
# Archivos y carpetas generadas automáticamente
bin/
obj/
.vs/

# Archivos de configuración de usuario
*.user
*.suo
*.log

# Paquetes restaurables
packages/

# Archivos de publicación
*.Publish.xml

# Archivos temporales
*.tmp
*.temp

# Archivos de configuración de entorno
appsettings.*.json
/TestPsycoAI/.vscode


# Archivos angular 
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db